.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 18px;
    min-width: 400px;
    width: fit-content;
    height: 180px;

    background-color: #DDDDDD;

    padding: 0 18px;
}

.status-bar {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 100%;

    box-sizing: border-box;
}

.recognize-button {
    background: #120C27 url("/images/logo.png") no-repeat center;
    background-size: 100px 100px;


    height: 160px;
    width: 160px;

    border: none;
    border-radius: 50%;
    outline: none;

    cursor: pointer;
}

.recognize-button:hover {
    background-color: #191035;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) scale(1);
    }

    50%{
        transform: rotate(180deg) scale(1.05);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}

.rotating {
    animation: rotate 2s linear infinite;
}

.arrow-back {
    background: url("/images/arrow_back.svg") no-repeat center;
    background-size: 24px 24px;

    height: 100%;
    width: 24px;
}
